
@{
    Layout = null;
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Content/dkadem.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/f.css" rel="stylesheet" />
</head>
<body>

    <div>
        <div class="login-page">
            <div class="form">

                <form class="login-form" action="/Login/Login" role="form" method="post">
                    <input type="email" name="Email" placeholder="username" value="cavrt@awefwe.com" />
                    <input type="password" name="Password" placeholder="password" value="fweafew"/>
                    <button type="submit">login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
