@model dkPortfolio.Models.Article

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="icerik">
    <h3>Create New Article</h3>



    <div class="form-horizontal">

        <hr />
        <form role="form" method="post" action="/Admin/SaveEdit/@Model.ID">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Header</span>
                <input type="text" name="Header" class="form-control" value="@Model.Header" placeholder="Example Header ['Hello MVC']" aria-describedby="basic-addon1">
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Picture Url</span>
                <input type="text" name="PictureUrl" class="form-control" value="@Model.Picture.Path" placeholder="Example :http://placehold.it/350x150" aria-describedby="basic-addon1">
            </div>
            <br />
            <label for="comment">Content:</label>
            <textarea class="form-control" name="Text" rows="5" id="comment" placeholder="What do you think now?">@Model.Text</textarea>

            <br />
            <button type="submit" class="btn btn-success" style="float:right;">Save</button>
        </form>

    </div>


    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>